        /* navigation bar css */
        
        .page-scroll {
            font-size: 13px;
            font-weight: 30px font-family: 'Helvetica Neue', serif;
            color: #ff4a4a;
        }
        
        .page-scroll a {
            font-size: 25px;
            font-family: 'Helvetica Neue', serif;
            color: #ff4a4a;
        }
        /* jumbotron css */
        
        .jumbotron {
            background: url("../img/jumbotron_bg2.gif") no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
        .jumbotron h1 span {
            color: white;
            background: #ff4a4a;
            font-size: 75px;
            line-height: 74px;
            font-weight: 700;
            margin: 0 0 0px;
            font-family: 'Helvetica Neue', serif;
        }
        
        .jumbotron h3 span,
        .jumbotron h2 span {
            color: white;
            font-size: 40px;
            line-height: 40px;
            font-weight: 500;
            margin: 0 0 0px;
            font-family: 'Libre Baskerville', serif;
            text-align: left
        }
        
        .jumbotron p span {
            color: white;
            font-size: 20px;
            line-height: 27px;
            font-weight: 300;
            text-align: center;
            font-family: 'Libre Baskerville', serif;
        }
        
        .bubble {
            padding: 2px;
            background: #ff4a4a;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }
        
        .bubble:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 15px 15px 0;
            border-color: #ff4a4a transparent;
            display: block;
            width: 0;
            z-index: 1;
            bottom: -15px;
	    left: 50%;
        }
        /* question1 css */
        
        
        #question1 path {
            stroke: steelblue;
            stroke-width: 2;
            fill: none;
        }
        
        #question1 p {
            font-family: 'Helvetica Neue', serif;
            color: black;
            font-size: 25px;
            text-indent: 50px;
        }
        
        #question1 h1 {
            color: black;
            font-size: 40px;
            line-height: 40px;
            font-weight: 500;
            font-family: 'Libre Baskerville', serif;
            text-align: left
        }
        
        #question1 .axis path,
        #question1 .axis line {
            fill: none;
            stroke: grey;
            stroke-width: 1;
            shape-rendering: crispEdges;
        }

	#question1 .figure_1_row{
	   text-align: justify;	
           font-size: 1rem;
   	   text-indent: 0;
	}
        /* question 2 css */
        
        #question2 p {
            font-family: 'Helvetica Neue', serif;
            color: black;
            font-size: 25px;
            text-indent: 50px;
        }
        
        #question2 h1 {
            color: black;
            font-size: 40px;
            line-height: 40px;
            font-weight: 500;
            font-family: 'Libre Baskerville', serif;
            text-align: left
        }
        /* question 3 css */
        
        #question3 p {
            font-family: 'Helvetica Neue', serif;
            color: black;
            font-size: 25px;
            text-indent: 50px;
        }
        
        #question3 h1 {
            color: black;
            font-size: 40px;
            line-height: 40px;
            font-weight: 500;
            font-family: 'Libre Baskerville', serif;
            text-align: left
        }

	/* question 4 css */
        #question4 p{
            text-align: center;
            font-family: 'Helvetica Neue', serif;
            color: black;
            font-size: 25px;
            text-indent: 50px;
        }

        #question4 h1 {
            color: black;
            font-size: 40px;
            line-height: 40px;
            font-weight: 500;
            font-family: 'Libre Baskerville', serif;
            text-align: center
        }

        /* Hr bandwith */
        
        hr.style16 {
            border-top: 4px double #8c8b8b;
            text-align: center;
        }
        
        hr.style16:after {
            content: '\002665';
            display: inline-block;
            position: relative;
            top: -15px;
            padding: 0 10px;
            background: #f0f0f0;
            color: #8c8b8b;
            font-size: 18px;
        }
        /* For annotation */
        
        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }
        
        .annotation circle {
            fill: none;
            stroke: darkslategrey;
        }
        
        .annotation path {
            fill: none;
            stroke: darkslategrey;
            shape-rendering: crispEdges;
        }
        
        .annotation text {
            text-shadow: -2px 0 2px #fff, 0 2px 2px #fff, 2px 0 2px #fff, 0 -2px 2px #fff;
        }
        
        .user_mode {
            display: none;
        }
        
        @-webkit-keyframes uparrow {
            0% {
                -webkit-transform: translateY(0);
                opacity: 0.7
            }
            100% {
                -webkit-transform: translateY(-0.4em);
                opacity: 0.9
            }
        }
        
        @-webkit-keyframes downarrow {
            0% {
                -webkit-transform: translateY(0);
                opacity: 0.7
            }
            100% {
                -webkit-transform: translateY(0.4em);
                opacity: 0.9
            }
        }
        
        .arrow {
            border-color: transparent;
            border-style: solid;
            border-width: 0 2em;
            display: block;
            height: 0;
            margin-left: 800px;
            margin-top: -10px;
            margin-bottom: -20px;
            opacity: 1;
            text-indent: -9999px;
            transform-origin: 50% 50%;
            width: 0;
        }
        
        .up {
            -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
            border-bottom: 2em solid #ff4a4a;
        }
